<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        @Html.ActionLink("Vidly", "Index", "Home", null, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    @Html.ActionLink("Customers", "Index", "Customers", null, new { @class = "nav-link" })
                    <span class="visually-hidden">(current)</span>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Movies", "Index", "Movies", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Rentals", "Index", "Rentals", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("New Rental", "New", "Rentals", null, new { @class = "nav-link" })
                </li>
                @*<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </li>*@
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>