<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        @Html.ActionLink("Vidly", "Index", "Home", null, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    @Html.ActionLink("Customers", "Index", "Customers", null, new { @class = "nav-link" })
                    <span class="visually-hidden">(current)</span>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Movies", "Index", "Movies", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Rentals", "Index", "Rentals", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">R-NET</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="https://www.r-net.tech">Home</a>
                        <a class="dropdown-item" href="https://www.r-net.tech:4443">BulkyBook</a>
                    </div>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>