@model Vidly.ViewModels.CustomerDetailsViewModel
@{
    ViewBag.Title = "Customer Details";
}

<h2>Customer Details</h2>
<br />
<div class="form-group">
    @Html.LabelFor(m => m.Customer.Name)
    @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control", disabled = "disabled" })
</div>
<br />
<div class="form-group">
    @Html.LabelFor(m => m.Customer.MembershipTypeId)
    @Html.TextBoxFor(m => m.Customer.MembershipType.Name, new { @class = "form-control", disabled = "disabled" })
</div>
<br />
<div class="form-group">
    @Html.LabelFor(m => m.Customer.Birthdate)
    @Html.TextBoxFor(m => m.Customer.Birthdate, "{0:MMM d yyyy}", new { @class = "form-control", disabled = "disabled" })
</div>
<br /><br />
<h3>Rental History</h3>
<br />
<table id="rentals" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">Movie</th>
            <th scope="col">Date Rented</th>
            <th scope="col">Date Returned</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rental in Model.Rentals)
        {
            <tr>
                <td scope="row">@rental.Movie.Title</td>
                <td scope="row">@rental.DateRented</td>
                <td scope="row">@rental.DateReturned</td>
                <td scope="row">
                    @if (@rental.DateReturned == null)
                    {
                    @Html.ActionLink("Return", "ReturnRental", "Rentals", new { rentalId = rental.Id, movieId = rental.Movie.Id }, new { @class = "btn btn-sm btn-success" });
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#rentals").DataTable({
                ajax: {
                    url: "api/rentals",
                    dataSrc: "" // Used to a specific object within the JSON, only if applicable
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='/customers/details/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "membershipType.discountRate",
                        render: function (data) {
                            return data + "%";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<i class='bi bi-pencil-square js-edit' data-customer-id=" + data + "></i> / <i class='bi bi-trash3 js-delete' data-customer-id=" + data + "></i>";
                        }
                    }
                ]
            });

            $("#rentals").on("click", ".js-return", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/rentals/" + button.attr("data-rental-id"),
                            method: "POST",
                            success: function () {
                                //button.parents("tr").remove();
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
    </script>
}